# Análise dos Dados do Escola Inteligente
### Consulta via API
##### Fonte: http://educacao.dadosabertosbr.com/api/escolas/buscaavancada?situacaoFuncionamento=1&energiaInexistente=on&aguaInexistente=on&esgotoInexistente=on&cozinha=on

In [1]:
# Importando as Bibliotecas

import pandas as pd
import requests as rq

# URL de Acesso

url = ('http://educacao.dadosabertosbr.com/api/escolas/buscaavancada?situacaoFuncionamento=1&energiaInexistente=on&aguaInexistente=on&esgotoInexistente=on&cozinha=on')

In [2]:
# Requisitando os Dados da API

resposta = rq.get(url)

In [3]:
df = pd.DataFrame(resposta.json()[1])

In [4]:
df.head()

,anoCenso,cod,nome,codCidade,cidade,estado,regiao,situacaoFuncionamento,dependenciaAdministrativa,idebAI,idebAF,enemMediaGeral,situacaoFuncionamentoTxt,dependenciaAdministrativaTxt
0,2013,41036026,BAIRRO DOS MENDES E R M EF,4104402,CANDIDO DE ABREU,PR,Sul,1,3,0.0,0.0,0.0,Em atividade,Municipal
1,2013,15008258,E M E F AGUA AZUL,1504802,MONTE ALEGRE,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
2,2013,15534340,E M E F AGUA BOA,1505650,PLACAS,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
3,2013,15525821,E M E F AMAZONIA,1505064,NOVO REPARTIMENTO,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
4,2013,15022790,E M E F AMELIA HOLANDA,1500305,AFUA,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal

In [5]:
df.columns

Index(['anoCenso', 'cod', 'nome', 'codCidade', 'cidade', 'estado', 'regiao',
       'situacaoFuncionamento', 'dependenciaAdministrativa', 'idebAI',
       'idebAF', 'enemMediaGeral', 'situacaoFuncionamentoTxt',
       'dependenciaAdministrativaTxt'],
      dtype='object')

In [6]:
df.columns = ['CENSO', 'COD', 'ESCOLA', 'COD_CIDADE', 'CIDADE', 'UF', 'REGIÃO', 'FUNCIONAMENTO', 'DEPENDÊNCIA ADM', 'IDEB AI', 'IDEB AF', 'ENEM MÉDIA GERAL', 'SITUAÇÃO', 'DEPENDÊNCIA ADM TXT']

In [7]:
df.head()

,CENSO,COD,ESCOLA,COD_CIDADE,CIDADE,UF,REGIÃO,FUNCIONAMENTO,DEPENDÊNCIA ADM,IDEB AI,IDEB AF,ENEM MÉDIA GERAL,SITUAÇÃO,DEPENDÊNCIA ADM TXT
0,2013,41036026,BAIRRO DOS MENDES E R M EF,4104402,CANDIDO DE ABREU,PR,Sul,1,3,0.0,0.0,0.0,Em atividade,Municipal
1,2013,15008258,E M E F AGUA AZUL,1504802,MONTE ALEGRE,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
2,2013,15534340,E M E F AGUA BOA,1505650,PLACAS,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
3,2013,15525821,E M E F AMAZONIA,1505064,NOVO REPARTIMENTO,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
4,2013,15022790,E M E F AMELIA HOLANDA,1500305,AFUA,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal

In [9]:
#Tamanho do DataFrame

# 100 Linhas e 14 Colunas

df.shape

(100, 14)

In [11]:
df['UF'].value_counts()

PA    99
PR     1
Name: UF, dtype: int64

In [13]:
df['DEPENDÊNCIA ADM TXT'].value_counts()

Municipal    100
Name: DEPENDÊNCIA ADM TXT, dtype: int64

In [14]:
df['CIDADE'].value_counts()

SAO DOMINGOS DO CAPIM         13
MONTE ALEGRE                  12
VISEU                         10
RUROPOLIS                      7
CAMETA                         4
AFUA                           4
URUARA                         4
MOJU                           4
CACHOEIRA DO ARARI             3
MUANA                          3
SAO FELIX DO XINGU             3
NOVO REPARTIMENTO              3
IPIXUNA DO PARA                3
OBIDOS                         3
CHAVES                         2
PACAJA                         2
OEIRAS DO PARA                 2
SANTA CRUZ DO ARARI            2
TERRA SANTA                    2
ACARA                          2
SAO DOMINGOS DO ARAGUAIA       1
ANAJAS                         1
PORTEL                         1
PRAINHA                        1
PLACAS                         1
GARRAFAO DO NORTE              1
FARO                           1
AURORA DO PARA                 1
SAO SEBASTIAO DA BOA VISTA     1
NOVA ESPERANCA DO PIRIA        1
ANAPU                          1
CANDIDO DE ABREU               1
Name: CIDADE, dtype: int64